<!DOCTYPE html>
<html lang="en">

<head>
  <title>crm</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
 <form method="POST">
<select username="username"/>
 	</select>
</form>

 <div>
<div class="text-center" >
	<li> <a href="/" class="btn btn-dark"> main page</a></li>
	<div class="mt-5 col-md-12">
<nav class="navbar navbar-expand-sm  bg-success navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link " >Username:</a>

    </li>
    <li class="nav-item active">
      <a class="nav-link" >name:</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link">bundel:</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link disabled">status:</a>
    </li>
  </ul>
</nav>
    
    
  </ul>
</div>
 <div class="text-center">
  <h1>CUSTUMER INFO</h1>
  <div class="container">     
    <div class="row">
      <div class="col-sm-4 ">idebtity:</div>
      <div class="bg-light col-sm-1">5655</div>
    </div>
    <div class="row">
    	<div class="col-sm-4">first name</div>
    	<div class="bg-light col-sm-1">ddd</div>
       </div>
<div class="row">
    	<div class="col-sm-4">mobile</div>
    	<div class="bg-light col-sm-1">"entry"/</div>
       </div>
       <div class="row">
    	<div class="col-sm-4">adreass</div>
    	<div class="bg-light col-sm-1" >"entry"/</div>
       </div>
       <div class="row">
    	<div class="col-sm-4">Email</div>
    	<div class="bg-light col-sm-1">"entry"/</div>
       </div>
      </div>
      
    <button class="btn btn-danger"> delete contact</button>
</div>
</div>
</body>

 	




</html>


