<!DOCTYPE html>
<html >
<head>
  <title>crm</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<br/>	
<body>
	<a href="/newcustumer" class="btn btn-success"> add custumer</a>
 <a href="/newserves" class="btn btn-success mr-">add new serves</a>

<div class="text-center">
	<li> <a href="/" class="btn btn-dark"> main page</a></li>

<div class="mt-5">
	<div class="form-group">
	<form action="{% url 'custumer' %}" method="GET" value="{{request.GET.username}}">
   Search <input  type="text" name="username" value="{{request.GET.username}}" placeholder="Search "/>
	</div>
<input type="submit" class="btn btn-primary" name="submit" value="Search"/>
	</form>
	
</div>
 </form>
</div>
</body>
</html>
