
<!DOCTYPE html>
<html>
<head>
	<title>Mohanad Abu Sharkh's main page</title>
</head>
<body>

	<h1>Welcome to Mohanad Abu Sharkh web page </h1>

	<p>This is my main page for the COMP334 course work</p>
	<h1>About Myself</h1>
<p>
	<img src=""><br>
	I am a 6th year Computer Scince student at Birzeit University, Palestine.<br>
	My student ID is 1152332.
</p>
<hr>
<h2>Course work  list</h2>
<ul>
	<li>Assigments</li>
	<li><a href="labs/index.html">Labs</a></li>
	<li>Project</li>

</ul>
</body>
</html>